body, html {
    background: linear-gradient(#a442f5, black);
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mainTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
}

#titleParagraph {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .08rem;
}

.buttons {
    transition: all .5s ease;
    background-color: #a442f5;
    border: 2px solid white;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    position: absolute;
    width: 12rem;
    height: 5rem;
}

.buttons:hover {
    background-color: white;
    color: #a442f5;
    cursor: pointer;
}

#username {
    position: absolute;
    height: 2rem;
    width: 10rem;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.queueCounters {
    position: absolute;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

#funnyQueueNum {
    top: 74%;
    left: 40%;
}

#seriousQueueNum {
    top: 74%;
    left: 54%;
}

#onlineUsers {
    position: absolute;
    top: 5%;
    left: 80%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

#funnyVideo {
    width: 40rem;
    height: 25rem;
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 14%;
    border: 5px solid white;
    border-radius: 8px;
    background-color: #ddd;
}

#seriousVideo {
    width: 40rem;
    height: 25rem;
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 52%;
    border: 5px solid white;
    border-radius: 8px;
    background-color: #ddd;
}

#disconnectBtn {
    position: absolute;
    background-color: red;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid white;
    top: 60%;
    left: 48.7%;
    cursor: pointer;
}

#chat-messages {
    position: absolute;
    height: 12rem;
    width: 30rem;
    top: 76%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

#message {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32rem;
}

#funnyUsername {
    position: absolute;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    top: 7%;
    left: 27%;
}

#seriousUsername {
    position: absolute;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    top: 7%;
    left: 67%;
}





