body, html {
    background: linear-gradient(to bottom right, #855BDA, #4B0082);
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    z-index: -1;
}

.account_btn {
    transition: all .5s ease;
    background-color: #a442f5;
    border: 2px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    padding: 10px 20px;
    border-radius: 1rem;
    text-decoration: none;
}

.account_btn:hover {
    background-color: white;
    color: #a442f5;
    cursor: pointer;
}

.header {
    border-bottom: 3px solid white;
}

.home_page-header {
    display: flex;
}

#header_title {
    position: relative;
    color: white;
    font-size: 30px;
    left: 2rem;
}

#username {
    position: relative;
    color: white;
    top: 1.8rem;
    font-size: 1.5rem;
    left: 83rem;
}

#register_title, #login_title {
    position: relative;
    color: white;
    left: 50rem;
    top: 10rem;
}

.login_form, .register_form {
    position: absolute;
    left: 50%;
    height: 3rem;
    width: 8rem;
    top: 50%;
    transition: all .5s ease;
    background-color: #4B0082;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

#index_login {
    margin-right: 2rem;
}

#index_login:hover, #index_register:hover {
    background-color: white;
    color: #4B0082;
    cursor: pointer;
}

.err_msg {
    position: absolute;
    color: white;
    left: 42%;
    top: 65%;
}

#timer {
    position: absolute;
    color: white;
    left: 49%;
    top: 4%;
    font-size: 2rem;
}

.horizontal-line {
    position: relative;
    border-top: 2px solid white;
    top: 4rem;
}

.horizontal-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}


#mainTitle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    letter-spacing: .15rem;
    line-height: 4.3rem;
    font-weight: 550;
}

#titleParagraph {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8rem;
    letter-spacing: .06rem;
}

.horizontal-line-home {
    position: relative;
    border-top: 2px solid white;
    top: 1.1rem;
}

.horizontal-line-home::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.queue_btn {
    transition: all .5s ease;
    background-color: #a442f5;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: absolute;
    text-decoration: none;
    border-radius: 1rem;
}

.queue_btn:hover {
    background-color: white;
    color: #a442f5;
    cursor: pointer;
}

.queueCounters {
    position: absolute;
    color: white;
    font-size: 1rem;
}

#funnyQueueNum {
    top: 74%;
    left: 40%;
}

#seriousQueueNum {
    top: 74%;
    left: 54%;
}

#funnyVideo {
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 14%;
    border: 5px solid white;
    border-radius: 8px;
}

#seriousVideo {
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 52%;
    border: 5px solid white;
    border-radius: 8px;
}

#disconnectBtn {
    position: absolute;
    background-color: red;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid white;
    top: 60%;
    left: 48.7%;
    cursor: pointer;
}

#chat-messages {
    position: absolute;
    height: 12rem;
    width: 30rem;
    top: 76%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

#message {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32rem;
}

#funnyUsername {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 7%;
    left: 27%;
}

#seriousUsername {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 7%;
    left: 67%;
}

.font-sm {
    font-size: .8rem;
}

/* Circular Progress Bar */
.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}
.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}