<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <script defer src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header_logo">
                <img id="logo" src="static/images/straightFaceLogoOfficial.svg" alt="StraightFaceLogo" width="90" height="90">
                <a href="/" id="logo_name">StraightFace</a>
            </div>
            <div class="account_btn_container">
                <div class="dropdown">
                    <a href="/" class="home_btn"><i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i></a>
                    <button id="dropDownBtn"><i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i></button>
                    <div id="dropDownMenu" class="dropdown-content">
                        <a href="/account" class="dropdown_btn">Account</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="account_container">
                <h1 class="font-lrg">Account</h1>
                <div class="account-data-container">
                    <h3>Username&nbsp;:&nbsp; {{ username }}</h3>
                    <h3>Email&nbsp;:&nbsp; {{ email }}</h3>
                    <h3>Total Matches&nbsp;:&nbsp; {{ totalMatches }}</h3>
                    <h3>Funny W/L&nbsp;:&nbsp; {{ funnyWL}}</h3>
                    <h3>Serious W/L&nbsp;:&nbsp; {{ seriousWL }}</h3>
                </div>
            </div>
        </main> 
        
        <footer>
        </footer>

        <script>


        </script>

    </body>
</html>