{% extends "layout.html" %}

{% block content %}

    <body> 
        
        <div class="home_page-header">
            <h3 id="header_title">StraightFace</h3>
            <p id="username_display">{{ username }}</p>
            <form action="/logout" method="post">
                <button type="submit" id="logout_button">Log Out</button>
            </form> 
        </div>
        <div class="horizontal-line-home"></div>

                
        <h1 id="mainTitle">StraightFace</h1>
        <button type="button" class="buttons" id="funnyBtn" style="top: 65%; left: 38%;">Make Someone Laugh!</button>
        <button type="button" class="buttons" id="seriousBtn" style="top: 65%; left: 52%;">Be Serious!</button>
        <p id="funnyQueueNum" class="queueCounters">Funny Queue: 0</p>
        <p id="seriousQueueNum" class="queueCounters">Serious Queue: 0</p>
                

         

    </body>

{% endblock %}

