<!DOCTYPE html>
<html>

<head>
    <title>StraightFace - Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
    <link rel="shortcut icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
</head>

<body>

    <header>
        <div id="account_btn_container">
            <a href="/logout" class="account_btn">Log Out</a>
        </div>
    </header>

    <main>
        <div id ="main_container">
            <img id="homeIcon" src="static/images/straightFaceLogoOfficial.svg">
            <h1 id="mainTitle">StraightFace</h1>       
            <div id="queue_btn_container">
                <a href="/videoChat_funny" class="queue_btn" id="funnyBtn">Make Someone Laugh!</a>
                <a href="/videoChat_serious" class="queue_btn" id="seriousBtn">Be Serious!</a>
            </div>
        </div>
    </main>

    <footer>
        <p class="font-sm">&copy;2023 StraightFace App. All rights reserved.</p>
    </footer>     
        
</body>