<!DOCTYPE html>
<html>

<head>
    <title>StraightFace - Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
    <link rel="shortcut icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
    <script defer src="../static/index.js"></script>
</head>

<body>

    <header>
        <div class="header_logo">
            <img id="logo" src="static/images/straightFaceLogoOfficial.svg">
            <h2 id="logo_name">StraightFace</h2>
        </div>
        <div class="account_btn_container">
            <a href="/login" class="account_btn" id="loginBtn">Log In</a>
            <a href="/register" class="account_btn" id="signUpBtn">Sign Up</a>
        </div>
    </header>

    <main>
    
        <div class="queue_container">
            <h1>Log In or Sign Up</h1>
            <h3>Total Matches:<br>---</h3>
            <div class="queueBtn_container">           
                <a href="/login" class="queue_btn" id="funnyBtn"><img class="emotionIcon" src="static/images/onlyFunnyFace.svg">0-0<i class="fa-solid fa-chevron-right fa-lg" style="color: #0F0F0F;"></i></a>
                <a href="/login" class="queue_btn" id="seriousBtn"><img class="emotionIcon" src="static/images/onlyStraightFace.svg">0-0<i class="fa-solid fa-chevron-right fa-lg" style="color: #0F0F0F;"></i></a>
            </div>            
        </div>  

    </main>

    <footer>
        <p class="font-sm">&copy;2023 StraightFace App. All rights reserved.</p>
    </footer>
                      
</body>    

<!-- 
    <div id="howToPlay_container">
            <h1 id="HTPTitle">How to Play</h1>
            <p><br>&bull; StraightFace is a random video-chat roulette app
                where the goal is to make your opponent smile or
                be the one keeping a straight face!<br><br></p>
            <p>&bull; Once you choose your role, you will have 30 seconds
                to win the round.<br><br></p>
            <p>&bull; If you're the Joker, use your creativity, humor, and 
                charisma to make the other player laugh or smile.<br><br></p>
            <p>&bull; If you're keeping straight face, your mission is to 
                resist laughing or smiling during your turn.<br><br></p>
            <p>&bull; Good Luck and Have Fun!<br></p>
            
        </div>
-->


   

