{% extends "layout.html" %}

{% block content %}

    <div id="landing_page"> 
        <div class="index_content">
            <button class="account_buttons" id="index_login">Log In</button>
            <button class="account_buttons" id="index_register">Sign Up</button>
            <div class="horizontal-line"></div>   
            <div class="box-background">
                <h1 id="mainTitle">Welcome to<br>StraightFace</h1>
                <p id="titleParagraph">StraightFace is a video-chat roulette app where<br>the goal is to, you guessed it, keep a straight face.</p>
            </div>               
        </div>
    </div>

{% endblock %}
   

