<!DOCTYPE html>
<html>

<head>
    <title>StraightFace</title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>

    <h2 id="register_title">Create a new account</h3>

    <form action="/register" method="POST">
            <div class="form-group" id="info_form_group">
                <label for="username">Username</label>
                <input type="text" name="username" id="register_username" class="form-control">
            </div>
            <div class="form-group" id="info_form_group">
                <label for="password">Password</label>
                <input type="password" name="password" id="register_password" class="form-control">
            </div>
            <div class="form-group" id="info_form_group">
                <label for="email">Email</label>
                <input type="email" name="email" id="register_email" class="form-control">
            </div>
            <div class="form-group" id="info_form_group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="register_first_name" class="form-control">
            </div>
            <div class="form-group" id="info_form_group">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="register_last_name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" id="register_button">Register</button>
            <p id="register_error_message">{{ errMsg }}</p>
    </form>


</body>    
   

