<!DOCTYPE html>

    <head>
        <title>StraightFace</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/index.js"></script>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    </head>

    <body>
        <video id="funnyVideo" autoplay></video>
        <video id="seriousVideo" autoplay></video>
    </body>
</html>