<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <script defer src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header_logo">
                <img id="logo" src="static/images/straightFaceLogoOfficial.svg" alt="StraightFaceLogo" width="115px" height="115px">
                <h2 id="logo_name">StraightFace</h2>
            </div>
            <div class="account_btn_container">
                <div class="dropdown">
                    <button id="dropDownBtn"><i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i></button>
                    <div id="dropDownMenu" class="dropdown-content">
                        <a href="/account" class="dropdown_btn">Account</a>
                        <a href="/how-to-play" class="dropdown_btn">How to Play?</a>
                        <a href="/terms-of-use" class="dropdown_btn">Terms of Use</a>
                        <a href="/privacy-policy" class="dropdown_btn">Privacy Policy</a>
                        <a href="/faq" class="dropdown_btn">FAQ</a>
                        <a href="/contact" class="dropdown_btn">Contact</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <h1>Terms of Use</h1>
        </main> 
        
        <footer>
            <p class="font-sm">&copy;2023 StraightFace App. All rights reserved.</p>
        </footer>

        <script>

        </script>

    </body>
</html>