<!DOCTYPE html>
<html>

<head>
    <title>StraightFace - VideoChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/face-api.min.js"></script>
    <script defer src="../static/videoChat.js"></script>
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js"></script>
    <link rel="icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
    <link rel="shortcut icon" href="static/images/straightFaceLogoBig.svg" type="image/x-icon">
    <style>
        canvas {
            position: relative;
            top: 0;
            left: 0;
        }
    </style>
    <script>
        var role = "{{ role }}";
    </script>
</head>

<body>
    <main>
        <div id="video_container">
            <div id="funnyVideo_container">
                <div id="funnyVideoHeader_container">
                    <img id="funnyIcon" src="static/images/onlyFunnyFace.svg">
                    <h1 id="funnyUsername">{{ funnyUsername }}</h1>
                </div>          
                <video id="funnyVideo" playsinline></video>
                <button id="screenShareBtn" onclick="shareScreen();" disabled>Share Screen</button>
            </div>

            <p id="timer"></p>

            <div id="seriousVideo_container">
                <div id="seriousVideoHeader_container">
                    <img id="seriousIcon" src="static/images/onlyStraightFace.svg">
                    <h1 id="seriousUsername">{{ seriousUsername }}</h1>
                </div>
                <video id="seriousVideo" playsinline></video>
            </div>
        </div>

        <div id="bottom_video_container">
            <div id="utils_container">
                <button type="submit" id="searchBtn">Find New Player</button>   
                <button type="button" id="disconnectBtn">X</button>
            </div>

            <div id="chat_container">
                <ul id="chat-messages"></ul>
                <input type="text" id="message" placeholder="Enter a Message">
            </div>
        </div>
    </main>
</body>

<script>