<!DOCTYPE html>
<html>

<head>
    <title>StraightFace - VideoChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/models/face-api.min.js"></script>
    <script defer src="../static/videoChat.js"></script>
    <script defer src="../static/webrtcHandler.js"></script>
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <style>
        canvas {
            position: absolute;
            margin-top: 6rem;
        }
    </style>
    <script>
        var role = "{{ role }}";
    </script>
</head>

<body>
    <main>

    <div id="video_container">
        <div id="funnyVideo_container">
                <div id="funnyVideoHeader_container">
                    <img id="funnyIcon" src="static/images/onlyFunnyFace.svg">
                    <h1 id="funnyUsername">{{ funnyUsername }}</h1>
                </div>          
                <video id="funnyVideo" playsinline autoplay></video>
        </div>

        <div id="seriousVideo_container">
                <div id="seriousVideoHeader_container">
                    <img id="seriousIcon" src="static/images/onlyStraightFace.svg">
                    <h1 id="seriousUsername">{{ seriousUsername }}</h1>
                </div>
                <video id="seriousVideo" playsinline autoplay></video>
        </div>
    </div>

    <div id="util_container">
        <p id="timer">1:00</p>
        <div id="btn_container">
            <button type="button" id="searchBtn">New Match</button>   
            <button type="button" id="disconnectBtn">Forfeit</button>
            <button type="button" id="screenShareBtn" onclick="shareScreen();">Share Screen</button>
            <a href="/" id="homeBtn" alt="homeButton" style="text-decoration: none;">Leave</a>
        </div>
    </div>

    </main>

</body>

<script>