<!DOCTYPE html>
<html>

<head>
    <title>StraightFace - VideoChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/face-api.min.js"></script>
    <script defer src="../static/videoChat.js"></script>
    <script defer src="../static/webrtcHandler.js"></script>
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api@1/dist/face-api.js"></script>
    <script src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <style>
        canvas {
            position: relative;
            top: 0;
            left: 0;
        }
    </style>
    <script>
        var role = "{{ role }}";
    </script>
</head>

<body>
    <main>

        <div id="video_container">
            <div id="funnyVideo_container">
                <div id="funnyVideoHeader_container">
                    <img id="funnyIcon" src="static/images/onlyFunnyFace.svg">
                    <h1 id="funnyUsername">{{ funnyUsername }}</h1>
                </div>          
                <video id="funnyVideo" playsinline autoplay></video>
        </div>

        <div id="btn_container">
            <p id="timer">1:00</p>
            <button type="submit" id="searchBtn">
                <img class="img_lower" src="static/images/searchplayerIcon.svg" alt="searchPlayer" width="38px" height="38px">
            </button>   
            <button type="button" id="disconnectBtn">
                <img class="img_lower" src="static/images/leaveIcon.svg" alt="disconnect" width="38px" height="38px">
            </button>
            <button class="fab" id="screenShareBtn" onclick="shareScreen();">
                <img class="img_lower" src="static/images/sharescreenIcon.svg" alt="screenShare" width="38px" height="38px">
            </button>

            <a href="/" class="img_lower" src="static/images/house-solid.svg" alt="homeButton" width="38px" height="38px" style="color: white; text-decoration: none;">Leave</a>
        
        </div>

        <div id="seriousVideo_container">
                <div id="seriousVideoHeader_container">
                    <img id="seriousIcon" src="static/images/onlyStraightFace.svg">
                    <h1 id="seriousUsername">{{ seriousUsername }}</h1>
                </div>
                <video id="seriousVideo" playsinline autoplay></video>
            </div>
        </div>

        <div id="bottom_video_container">
            <div id="chat_container">
                <ul id="chat-messages"></ul>
                <input type="text" id="message" placeholder="Enter a Message" color="white">
            </div>
        </div>

    </main>

</body>

<script>