{% extends "layout.html" %}

{% block content %}

    <body> 

        <div id="video-chat" style="display:none;">

            <h1 id="funnyUsername"></h1>
            <h1 id="seriousUsername"></h1>

            <video id="funnyVideo" autoplay></video>
            <video id="seriousVideo" autoplay></video>

            <button type="button" id="disconnectBtn">X</button>

            <ul id="chat-messages"></ul>
            <input type="text" id="message" placeholder="Enter a Message">

        </div>

    </body>
    
{% endblock %}

